nav {
  background-color: #603f98; }

.modal-content .modal-header h4 {
  color: #603f98; }

.modal-content .modal-body form .form-row .form-1 {
  color: #007bff; }

.modal-content .modal-body form .form-row .form-2 {
  color: #dc3545; }

.jumbotron {
  width: 0px auto;
  background-color: #9575cd;
  color: #ffffff;
  padding: 70px 30px 70px 30px; }

.carousel {
  background-color: #ffc409; }
  .carousel .carousel-inner {
    height: 400px; }
    .carousel .carousel-inner .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }
    .carousel .carousel-inner .carousel-item .carousel-caption {
      right: 10%;
      left: 40%;
      bottom: 30%; }

.carousel-button {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1; }

.content-body {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .content-body .content-item-1 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .content-body .content-item-2 {
    margin-top: 3rem;
    margin-bottom: 3rem; }

.footer {
  background-color: #d1c4e9;
  padding: 40px 0px 30px 0px; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }
