$color-1: rgb(96, 63, 152);
$color-2:#007bff;
$color-3: #dc3545;
$color-4: #ffc409;
$color-5: #d1c4e9;
$color-6: #ffffff;
$color-7: #9575cd;

$carousel-item-min-height: 300px;

@mixin margin-each-div($margin-top, $margin-bottom) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

// mt-5 = 3rem

nav{
    background-color: $color-1;
}

.modal-content{
    .modal-header{
        h4{
            color: $color-1;
        }
    }
    .modal-body{
        form{
            .form-row{
                .form-1{
                    color: $color-2;
                }
                .form-2{
                    color: $color-3;
                }
            }
        }
    }
}

.jumbotron {
    width: 0px auto;
    background-color: $color-7;
    color: $color-6;
    padding: 70px 30px 70px 30px;
}

.carousel{
    background-color: $color-4;
    .carousel-inner{
        height: 400px;
        .carousel-item{
            img{
                position: absolute; 
                top: 0; 
                left: 0;
                min-height: 300px;
            }
            .carousel-caption{
                right: 10%; 
                left: 40%; 
                bottom: 30%;
            }
        }
    }
}

.carousel-button{
    position: absolute; 
    right: 0; 
    bottom: 0; 
    z-index: 1;
}

.content-body{
    @include margin-each-div(3rem, 3rem);
    .content-item-1{
        @include margin-each-div(3rem, 3rem);
    }
    .content-item-2{
        @include margin-each-div(3rem, 3rem)
    }
}

.footer {
    background-color: $color-5;
    padding: 40px 0px 30px 0px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
